# Lecture 6 Python Fundamentals - Packages & Pandas
## F&W ECOL 458: Environmental Data Science

**Learning Objectives:**
- Understand Python packages and how to import them
- Work with pandas DataFrames for tabular data
- Load, explore, and manipulate environmental datasets
- Perform filtering, grouping, and aggregation

---

## 1. Python Packages and Modules

### 1.1 What are Packages?

A **package** (or library) is a collection of pre-written code that extends Python's capabilities. Instead of writing everything from scratch, we can import packages that others have built.

Key packages for environmental data science:
- `numpy` – numerical computing with arrays
- `pandas` – data manipulation and analysis
- `scipy` – scientific computing and statistics
- `matplotlib` – visualization
- `scikit-learn` – machine learning

### 1.2 Importing Packages

In [ ]:
# Import an entire package
import math

print(math.pi)
print(math.sqrt(16))

3.141592653589793
4.0

In [ ]:
# Import with an alias (nickname) - very common practice
import numpy as np
import pandas as pd

# Now we use np instead of numpy
arr = np.array([1, 2, 3, 4, 5])
print(f"Mean: {np.mean(arr)}")

Mean: 3.0

In [ ]:
# Import specific functions from a package
from scipy import stats
from scipy.optimize import minimize

# Now we can use stats directly
print(stats.norm.pdf(0))  # Normal distribution PDF at x=0

0.3989422804014327

### 1.3 Installing Packages in Colab

Most common packages are pre-installed in Colab. If you need something else, use `!pip install`:

In [ ]:
# Example: Install a package (this one is already installed, just for demonstration)
# !pip install pandas

# Check installed version
print(f"pandas version: {pd.__version__}")
print(f"numpy version: {np.__version__}")

pandas version: 2.2.2
numpy version: 2.0.2

### 1.4 Standard Imports for Data Science

These imports are so common that you'll see them at the top of almost every data science notebook:

In [ ]:
# Standard data science imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats

# For nicer plots in notebooks
%matplotlib inline

---
## 2. Introduction to NumPy Arrays

Before diving into pandas, let's briefly cover NumPy arrays—the foundation for numerical computing in Python.

In [ ]:
# Create arrays from lists
temperatures = np.array([18.5, 19.2, 17.8, 20.1, 19.5, 18.9, 21.0])
print(f"Temperatures: {temperatures}")
print(f"Type: {type(temperatures)}")

Temperatures: [18.5 19.2 17.8 20.1 19.5 18.9 21. ]
Type: <class 'numpy.ndarray'>

In [ ]:
# Vectorized operations - apply to all elements at once
# Convert Celsius to Fahrenheit
temps_fahrenheit = temperatures * 9/5 + 32
print(f"Celsius: {temperatures}")
print(f"Fahrenheit: {temps_fahrenheit}")

Celsius: [18.5 19.2 17.8 20.1 19.5 18.9 21. ]
Fahrenheit: [65.3  66.56 64.04 68.18 67.1  66.02 69.8 ]

In [ ]:
# Built-in statistical functions
print(f"Mean: {np.mean(temperatures):.2f}")
print(f"Std Dev: {np.std(temperatures):.2f}")
print(f"Min: {np.min(temperatures)}")
print(f"Max: {np.max(temperatures)}")
print(f"Median: {np.median(temperatures)}")

Mean: 19.29
Std Dev: 0.97
Min: 17.8
Max: 21.0
Median: 19.2

In [ ]:
# Boolean indexing - very powerful!
hot_days = temperatures > 19
print(f"Hot days mask: {hot_days}")
print(f"Hot temperatures: {temperatures[hot_days]}")
print(f"Number of hot days: {np.sum(hot_days)}")

Hot days mask: [False  True False  True  True False  True]
Hot temperatures: [19.2 20.1 19.5 21. ]
Number of hot days: 4

In [ ]:
# 2D arrays (matrices)
# Rows = sites, Columns = months
rainfall = np.array([
    [85, 72, 95, 110],   # Site A
    [92, 88, 103, 98],   # Site B
    [78, 65, 82, 91]     # Site C
])

print(f"Shape: {rainfall.shape}")  # (rows, columns)
print(f"Mean by site (row): {np.mean(rainfall, axis=1)}")
print(f"Mean by month (column): {np.mean(rainfall, axis=0)}")

Shape: (3, 4)
Mean by site (row): [90.5  95.25 79.  ]
Mean by month (column): [85.         75.         93.33333333 99.66666667]

---
## 3. Introduction to Pandas

Pandas is the go-to library for working with tabular data. It provides two main data structures:
- **Series**: A 1D labeled array (like a column)
- **DataFrame**: A 2D labeled table (like a spreadsheet)

### 3.1 Pandas Series

In [ ]:
# Create a Series
dbh_values = pd.Series([35.4, 28.2, 42.0, 18.7, 52.1],
                        name='DBH_cm')
print(dbh_values)
print(f"\nMean DBH: {dbh_values.mean():.1f} cm")

0    35.4
1    28.2
2    42.0
3    18.7
4    52.1
Name: DBH_cm, dtype: float64

Mean DBH: 35.3 cm

In [ ]:
# Series with custom index
species_count = pd.Series(
    [45, 32, 28, 15, 8],
    index=['Oak', 'Maple', 'Pine', 'Birch', 'Hemlock'],
    name='Count'
)
print(species_count)
print(f"\nOak count: {species_count['Oak']}")

Oak        45
Maple      32
Pine       28
Birch      15
Hemlock     8
Name: Count, dtype: int64

Oak count: 45

### 3.2 Creating DataFrames

In [ ]:
# Create DataFrame from dictionary
tree_data = {
    'tree_id': [1, 2, 3, 4, 5],
    'species': ['Quercus rubra', 'Acer saccharum', 'Pinus strobus',
                'Betula papyrifera', 'Quercus alba'],
    'dbh_cm': [35.4, 28.2, 42.0, 18.7, 52.1],
    'height_m': [22.1, 18.5, 25.3, 12.8, 24.6],
    'plot_id': ['A', 'A', 'B', 'B', 'A']
}

df = pd.DataFrame(tree_data)
df

   tree_id            species  dbh_cm  height_m plot_id
0        1      Quercus rubra    35.4      22.1       A
1        2     Acer saccharum    28.2      18.5       A
2        3      Pinus strobus    42.0      25.3       B
3        4  Betula papyrifera    18.7      12.8       B
4        5       Quercus alba    52.1      24.6       A

In [ ]:
# Basic DataFrame info
print(f"Shape: {df.shape}")
print(f"Columns: {df.columns.tolist()}")
print(f"Data types:\n{df.dtypes}")

Shape: (5, 5)
Columns: ['tree_id', 'species', 'dbh_cm', 'height_m', 'plot_id']
Data types:
tree_id       int64
species      object
dbh_cm      float64
height_m    float64
plot_id      object
dtype: object

### 3.3 Loading Data from Files

In practice, you'll usually load data from CSV, Excel, or other file formats.

In [ ]:
# Create a sample CSV file for demonstration
sample_data = """site_id,date,temperature_c,precipitation_mm,humidity_pct
SITE_A,2024-06-01,22.5,0.0,45
SITE_A,2024-06-02,24.1,5.2,62
SITE_A,2024-06-03,19.8,12.8,78
SITE_A,2024-06-04,18.2,8.5,81
SITE_A,2024-06-05,21.0,0.0,55
SITE_B,2024-06-01,20.1,0.0,48
SITE_B,2024-06-02,22.8,3.1,58
SITE_B,2024-06-03,18.5,15.2,82
SITE_B,2024-06-04,17.2,10.1,85
SITE_B,2024-06-05,19.5,0.5,60"""

# Save to file
with open('weather_data.csv', 'w') as f:
    f.write(sample_data)

print("Sample data file created!")

Sample data file created!

In [ ]:
# Load CSV into DataFrame
weather_df = pd.read_csv('weather_data.csv')
weather_df

  site_id        date  temperature_c  precipitation_mm  humidity_pct
0  SITE_A  2024-06-01           22.5               0.0            45
1  SITE_A  2024-06-02           24.1               5.2            62
2  SITE_A  2024-06-03           19.8              12.8            78
3  SITE_A  2024-06-04           18.2               8.5            81
4  SITE_A  2024-06-05           21.0               0.0            55
5  SITE_B  2024-06-01           20.1               0.0            48
6  SITE_B  2024-06-02           22.8               3.1            58
7  SITE_B  2024-06-03           18.5              15.2            82
8  SITE_B  2024-06-04           17.2              10.1            85
9  SITE_B  2024-06-05           19.5               0.5            60

In [ ]:
# Loading from URLs (works great in Colab!)
# Example with a public dataset
url = "https://raw.githubusercontent.com/datasets/co2-ppm/main/data/co2-mm-mlo.csv"
co2_df = pd.read_csv(url)
print(f"Loaded {len(co2_df)} rows of Mauna Loa CO2 data")
co2_df.head()

Loaded 814 rows of Mauna Loa CO2 data

              Date  Decimal Date  Average  Interpolated  Trend  Number of Days
1958-03  1958.2027        315.71   314.44            -1  -9.99           -0.99
1958-04  1958.2877        317.45   315.16            -1  -9.99           -0.99
1958-05  1958.3699        317.51   314.69            -1  -9.99           -0.99
1958-06  1958.4548        317.27   315.15            -1  -9.99           -0.99
1958-07  1958.5370        315.87   315.20            -1  -9.99           -0.99

---
## 4. Exploring DataFrames

### 4.1 Quick Exploration Methods

In [ ]:
# First few rows
weather_df.head(3)

  site_id        date  temperature_c  precipitation_mm  humidity_pct
0  SITE_A  2024-06-01           22.5               0.0            45
1  SITE_A  2024-06-02           24.1               5.2            62
2  SITE_A  2024-06-03           19.8              12.8            78

In [ ]:
# Last few rows
weather_df.tail(3)

  site_id        date  temperature_c  precipitation_mm  humidity_pct
7  SITE_B  2024-06-03           18.5              15.2            82
8  SITE_B  2024-06-04           17.2              10.1            85
9  SITE_B  2024-06-05           19.5               0.5            60

In [ ]:
# Summary info
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   site_id           10 non-null     object
 1   date              10 non-null     object
 2   temperature_c     10 non-null     float64
 3   precipitation_mm  10 non-null     float64
 4   humidity_pct      10 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 532.0+ bytes

In [ ]:
# Descriptive statistics for numeric columns
weather_df.describe()

       temperature_c  precipitation_mm  humidity_pct
count      10.000000         10.000000     10.000000
mean       20.370000          5.540000     65.400000
std         2.215125          5.765067     14.848868
min        17.200000          0.000000     45.000000
25%        18.750000          0.125000     55.750000
50%        19.950000          4.150000     61.000000
75%        22.125000          9.700000     80.250000
max        24.100000         15.200000     85.000000

In [ ]:
# Unique values in a column
print(f"Sites: {weather_df['site_id'].unique()}")
print(f"Number of sites: {weather_df['site_id'].nunique()}")

Sites: ['SITE_A' 'SITE_B']
Number of sites: 2

In [ ]:
# Value counts
weather_df['site_id'].value_counts()

site_id
SITE_A    5
SITE_B    5
Name: count, dtype: int64

### 4.2 Selecting Columns

In [ ]:
# Select a single column (returns Series)
temps = weather_df['temperature_c']
print(type(temps))
temps

<class 'pandas.core.series.Series'>

0    22.5
1    24.1
2    19.8
3    18.2
4    21.0
5    20.1
6    22.8
7    18.5
8    17.2
9    19.5
Name: temperature_c, dtype: float64

In [ ]:
# Select multiple columns (returns DataFrame)
subset = weather_df[['site_id', 'date', 'temperature_c']]
subset

  site_id        date  temperature_c
0  SITE_A  2024-06-01           22.5
1  SITE_A  2024-06-02           24.1
2  SITE_A  2024-06-03           19.8
3  SITE_A  2024-06-04           18.2
4  SITE_A  2024-06-05           21.0
5  SITE_B  2024-06-01           20.1
6  SITE_B  2024-06-02           22.8
7  SITE_B  2024-06-03           18.5
8  SITE_B  2024-06-04           17.2
9  SITE_B  2024-06-05           19.5

### 4.3 Selecting Rows with `.loc` and `.iloc`

In [ ]:
# .iloc - select by integer position
print("First row:")
print(weather_df.iloc[0])

print("\nRows 2-4:")
weather_df.iloc[2:5]

First row:
site_id                 SITE_A
date                2024-06-01
temperature_c             22.5
precipitation_mm           0.0
humidity_pct                45
Name: 0, dtype: object

Rows 2-4:

  site_id        date  temperature_c  precipitation_mm  humidity_pct
2  SITE_A  2024-06-03           19.8              12.8            78
3  SITE_A  2024-06-04           18.2               8.5            81
4  SITE_A  2024-06-05           21.0               0.0            55

In [ ]:
# .iloc with row and column selection
# Get rows 0-2, columns 1-3
weather_df.iloc[0:3, 1:4]

         date  temperature_c  precipitation_mm
0  2024-06-01           22.5               0.0
1  2024-06-02           24.1               5.2
2  2024-06-03           19.8              12.8

In [ ]:
# .loc - select by label
# First, set a meaningful index
weather_indexed = weather_df.set_index('date')
weather_indexed.head()

           site_id  temperature_c  precipitation_mm  humidity_pct
date
2024-06-01  SITE_A           22.5               0.0            45
2024-06-02  SITE_A           24.1               5.2            62
2024-06-03  SITE_A           19.8              12.8            78
2024-06-04  SITE_A           18.2               8.5            81
2024-06-05  SITE_A           21.0               0.0            55

In [ ]:
# Now select by index label
weather_indexed.loc['2024-06-03']

           site_id  temperature_c  precipitation_mm  humidity_pct
date
2024-06-03  SITE_A           19.8              12.8            78
2024-06-03  SITE_B           18.5              15.2            82

---
## 5. Filtering and Manipulating Data

### 5.1 Boolean Filtering

In [ ]:
# Filter rows where temperature > 20
warm_days = weather_df[weather_df['temperature_c'] > 20]
warm_days

  site_id        date  temperature_c  precipitation_mm  humidity_pct
0  SITE_A  2024-06-01           22.5               0.0            45
1  SITE_A  2024-06-02           24.1               5.2            62
4  SITE_A  2024-06-05           21.0               0.0            55
5  SITE_B  2024-06-01           20.1               0.0            48
6  SITE_B  2024-06-02           22.8               3.1            58

In [ ]:
# Multiple conditions: use & (and), | (or), ~ (not)
# IMPORTANT: Each condition must be in parentheses!

# Warm AND rainy days
warm_rainy = weather_df[(weather_df['temperature_c'] > 20) &
                         (weather_df['precipitation_mm'] > 0)]
warm_rainy

  site_id        date  temperature_c  precipitation_mm  humidity_pct
1  SITE_A  2024-06-02           24.1               5.2            62
6  SITE_B  2024-06-02           22.8               3.1            58

In [ ]:
# Filter by site
site_a = weather_df[weather_df['site_id'] == 'SITE_A']
site_a

  site_id        date  temperature_c  precipitation_mm  humidity_pct
0  SITE_A  2024-06-01           22.5               0.0            45
1  SITE_A  2024-06-02           24.1               5.2            62
2  SITE_A  2024-06-03           19.8              12.8            78
3  SITE_A  2024-06-04           18.2               8.5            81
4  SITE_A  2024-06-05           21.0               0.0            55

In [ ]:
# Using .query() method - often more readable
result = weather_df.query('temperature_c > 20 and precipitation_mm > 0')
result

  site_id        date  temperature_c  precipitation_mm  humidity_pct
1  SITE_A  2024-06-02           24.1               5.2            62
6  SITE_B  2024-06-02           22.8               3.1            58

### 5.2 Adding and Modifying Columns

In [ ]:
# Make a copy to avoid modifying original
df = weather_df.copy()

# Add a new column
df['temperature_f'] = df['temperature_c'] * 9/5 + 32
df

,site_id,date,temperature_c,precipitation_mm,humidity_pct,temperature_f
0,SITE_A,2024-06-01,22.5,0.0,45,72.50
1,SITE_A,2024-06-02,24.1,5.2,62,75.38
2,SITE_A,2024-06-03,19.8,12.8,78,67.64
3,SITE_A,2024-06-04,18.2,8.5,81,64.76
4,SITE_A,2024-06-05,21.0,0.0,55,69.80
5,SITE_B,2024-06-01,20.1,0.0,48,68.18
6,SITE_B,2024-06-02,22.8,3.1,58,73.04
7,SITE_B,2024-06-03,18.5,15.2,82,65.30
8,SITE_B,2024-06-04,17.2,10.1,85,62.96
9,SITE_B,2024-06-05,19.5,0.5,60,67.10

In [ ]:
# Add column based on condition
df['is_rainy'] = df['precipitation_mm'] > 0
df

,site_id,date,temperature_c,precipitation_mm,humidity_pct,temperature_f,is_rainy
0,SITE_A,2024-06-01,22.5,0.0,45,72.50,False
1,SITE_A,2024-06-02,24.1,5.2,62,75.38,True
2,SITE_A,2024-06-03,19.8,12.8,78,67.64,True
3,SITE_A,2024-06-04,18.2,8.5,81,64.76,True
4,SITE_A,2024-06-05,21.0,0.0,55,69.80,False
5,SITE_B,2024-06-01,20.1,0.0,48,68.18,False
6,SITE_B,2024-06-02,22.8,3.1,58,73.04,True
7,SITE_B,2024-06-03,18.5,15.2,82,65.30,True
8,SITE_B,2024-06-04,17.2,10.1,85,62.96,True
9,SITE_B,2024-06-05,19.5,0.5,60,67.10,True

In [ ]:
# Categorize using np.where (if-else for arrays)
df['temp_category'] = np.where(df['temperature_c'] >= 20, 'Warm', 'Cool')
df

,site_id,date,temperature_c,precipitation_mm,humidity_pct,temperature_f,is_rainy,temp_category
0,SITE_A,2024-06-01,22.5,0.0,45,72.50,False,Warm
1,SITE_A,2024-06-02,24.1,5.2,62,75.38,True,Warm
2,SITE_A,2024-06-03,19.8,12.8,78,67.64,True,Cool
3,SITE_A,2024-06-04,18.2,8.5,81,64.76,True,Cool
4,SITE_A,2024-06-05,21.0,0.0,55,69.80,False,Warm
5,SITE_B,2024-06-01,20.1,0.0,48,68.18,False,Warm
6,SITE_B,2024-06-02,22.8,3.1,58,73.04,True,Warm
7,SITE_B,2024-06-03,18.5,15.2,82,65.30,True,Cool
8,SITE_B,2024-06-04,17.2,10.1,85,62.96,True,Cool
9,SITE_B,2024-06-05,19.5,0.5,60,67.10,True,Cool

In [ ]:
# Multiple categories with pd.cut
df['humidity_class'] = pd.cut(df['humidity_pct'],
                               bins=[0, 50, 70, 100],
                               labels=['Low', 'Medium', 'High'])
df[['site_id', 'humidity_pct', 'humidity_class']]

  site_id  humidity_pct humidity_class
0  SITE_A            45            Low
1  SITE_A            62         Medium
2  SITE_A            78           High
3  SITE_A            81           High
4  SITE_A            55         Medium
5  SITE_B            48            Low
6  SITE_B            58         Medium
7  SITE_B            82           High
8  SITE_B            85           High
9  SITE_B            60         Medium

### 5.3 Handling Missing Data

In [ ]:
# Create data with missing values
data_with_missing = pd.DataFrame({
    'site': ['A', 'A', 'B', 'B', 'C'],
    'temperature': [22.5, np.nan, 18.3, 20.1, np.nan],
    'salinity': [35.2, 34.8, np.nan, 35.1, 34.5]
})
data_with_missing

  site  temperature  salinity
0    A         22.5      35.2
1    A          NaN      34.8
2    B         18.3       NaN
3    B         20.1      35.1
4    C          NaN      34.5

In [ ]:
# Check for missing values
print("Missing values per column:")
print(data_with_missing.isna().sum())

Missing values per column:
site           0
temperature    2
salinity       1
dtype: int64

In [ ]:
# Drop rows with any missing values
data_with_missing.dropna()

  site  temperature  salinity
0    A         22.5      35.2
3    B         20.1      35.1

In [ ]:
# Fill missing values
data_with_missing.fillna(data_with_missing.mean(numeric_only=True))

  site  temperature  salinity
0    A         22.5      35.2
1    A         20.3      34.8
2    B         18.3      34.9
3    B         20.1      35.1
4    C         20.3      34.5

---
## 6. Grouping and Aggregation

One of pandas' most powerful features is the split-apply-combine pattern using `groupby()`.

In [ ]:
# Group by site and calculate mean
site_means = weather_df.groupby('site_id').mean(numeric_only=True)
site_means

         temperature_c  precipitation_mm  humidity_pct
site_id
SITE_A           21.12              5.30          64.2
SITE_B           19.62              5.78          66.6

In [ ]:
# Multiple aggregation functions
site_stats = weather_df.groupby('site_id')['temperature_c'].agg(['mean', 'min', 'max', 'std'])
site_stats

          mean   min   max       std
site_id
SITE_A   21.12  18.2  24.1  2.294995
SITE_B   19.62  17.2  22.8  2.089737

In [ ]:
# Different aggregations for different columns
summary = weather_df.groupby('site_id').agg({
    'temperature_c': ['mean', 'std'],
    'precipitation_mm': 'sum',
    'humidity_pct': 'mean'
})
summary

        temperature_c           precipitation_mm humidity_pct
                 mean       std              sum         mean
site_id
SITE_A          21.12  2.294995             26.5         64.2
SITE_B          19.62  2.089737             28.9         66.6

In [ ]:
# Count observations per group
weather_df.groupby('site_id').size()

site_id
SITE_A    5
SITE_B    5
dtype: int64

### 🔬 Quick Exercise

Using the CO2 data loaded earlier (`co2_df`):
1. Group by year and calculate the mean CO2 concentration
2. Find the year with the highest mean CO2

In [ ]:
# Your code here
# Hint: The year column is called 'Year' and CO2 is called 'Average'

---
## Summary

**Key concepts from today:**

1. **Packages**: Import with `import`, use aliases like `np`, `pd`
2. **NumPy arrays**: Fast numerical operations, boolean indexing
3. **Pandas DataFrames**: Tabular data with labeled rows and columns
4. **Loading data**: `pd.read_csv()`, can load from URLs
5. **Selection**: Use `[]` for columns, `.loc`/`.iloc` for rows
6. **Filtering**: Boolean conditions, `.query()` method
7. **Aggregation**: `groupby()` + aggregation functions

**Next class:** Statistical analysis with SciPy and optimization

---
## Solutions

In [ ]:
# Quick Exercise Solution
yearly_co2 = co2_df.groupby('Year')['Average'].mean()
print("Mean CO2 by year (last 5 years):")
print(yearly_co2.tail())

max_year = yearly_co2.idxmax()
max_co2 = yearly_co2.max()
print(f"\nHighest mean CO2: {max_co2:.2f} ppm in {max_year}")